<div class="container">
    <div class="jumbotron">
        <h1 id="bigWords">Let's Scrape Yo!</h1>
        <form class="form-inline" action="/api/scrape" method="GET">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Scrape</button>
        </form>
    </div>
</div>


<div class="container border-left border-right">
    <div class="row">
        <div class="col">
            {{#each data}}
                <div>
                    <ul>
                        <li>
                            <a href="{{this.link}}">
                                <button type="submit" class="btn btn-danger">{{this.title}}</button>
                            </a>
                        </li>
                    </ul>
                </div>
            {{/each}}
        </div>
    </div>
</div>